body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.a {
  color: #505F98;
  text-decoration: none;
}

.button1 {
  background: #111B47;
  border-radius: 2px;
  color: #FFFFFF;
  border: none;
  width: 160px;
  height: 26px;
}

.container2 {
  padding: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  white-space: pre-line;
}

.p {
  font-size: 18px;
  line-height: 30px;
  color: #6F7CB2;
  white-space: pre-line;
}

.container2 > .section6 > button {
  background: #111B47;
  border-radius: 2px;
  border: none;
  width: 189px;
  height: 36px;
  color: #FFFFFF;
}

.section6 {
  margin-top: 69px;
}

.container2 > .section6 > .btn1 {
  background: #FFFFFF;
  color: #111B47;
  border: 1px solid;
}

header {
  background-image: url("../img/Group (7).png");
  background-position: right;
  background-repeat: no-repeat;
}

.container3 {
  margin-left: 165px;
  background-image: url("../img/undraw_mobile_login_ikmv.png");
  background-position: right;
  background-repeat: no-repeat;
}

.section32 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 540px;
}